 
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color:#f5f5f5;
   
}


/* dark theme */
.dark-theme{
    --primary-color: #2a2a2b;
    --secondary-color: #ffffff;
    --tertiary-color:#1b1b1b;
   
}
html{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--tertiary-color);
}



body{
    margin: 0;
    padding: 0;
    height: 100%;
   
    background-color:rgb(252, 252, 252);


}


.main-page{
  

    align-items: center;
        justify-content: center;
    height: 100%;
 
    
    background-color: var(--tertiary-color);
    display: flex; 
   
    flex-wrap: wrap;

}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header{

    padding:2rem  2rem 3rem 2rem;
   
  
    width: 100%;

    background-color: rgba(61, 61, 206, 0.966);
    border-radius: 0 0 0 70px;
    height: 2.5rem;
    color: white;

    flex-wrap: wrap;
    display: flex; 
    align-items: center;
    justify-content: space-around;
    gap: 37%;
    
}

.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
}
.sun i{
    color: var(--primary-color);
}

.nav-menu input[type=checkbox] {
    height:0;
    width: 0;
    visibility: hidden;

    
}

.nav-menu label{
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: var(--primary-color);
    display: block;
    border-radius: 30px;
    position: relative;


}

.nav-menu label::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background-color: #939bf4;
    border-radius: 30px;
    transition: 0.3s;


}


.nav-menu input:checked+label {
    background: var(--primary-color);

}

.nav-menu input:checked+label::after {
    left: calc(100% -10px);
    transform: translateX(+120%);

}

.nav-menu label:active::after{
    width: 20px;
}

.search-bar{
    width: 75%;
    height: 4rem;
    background-color: var(--primary-color);
   border-radius: 5px;
    margin-top: -2rem;
    padding: 1rem 0;
    display: flex;

    justify-content: center;
    gap: 5rem;

    color: darkgray;


}



.search-box{

    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    
   
   
}


.bg-modal{
    display: none;
}

.location-box input{
    background-color: var(--primary-color);
    color: white;
}

.search-box input{
    background-color: var(--primary-color);
    color:var(--secondary-color);
}



 ::placeholder{
   
    color: darkgray;
    background-color: var(--primary-color);
 }


 .fa {
    color: blue;
}

.fa-sun-o{
    color: red;
    height: 80%;
    width: 20%;
}

textarea:focus, input:focus{
    outline: none;
}



.location-box{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

}

.location-box input{
    background-color: var(--primary-color);
    color: black;
}

#filter{
    display: none;
}
.search-button{
    background-color:rgba(61, 61, 206, 0.966);
    text-align: center;
    padding: 0.7rem 2rem;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 10px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
}

.load{

    margin-bottom: 3rem;
    margin-top: 1rem;
}


.search-button:hover{
background-color: #939bf4;
}
#search-input{
    height: 100%;
    width: 100%;
    border: none;
    
}

#location-input{
    height: 100%;
    width: 100%;
    border: none;
}
.job-type{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;

    gap:0.5rem;
}

.label{
    font-size: 12px;
    width: 50%;
    
}


.job-box{
    
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: -3rem;
   
}


.job-page{
  

   min-height: 90%;
   min-width: 90%;
    
    display: flex;
   
    gap: 3rem  3rem;
    padding: 3rem  7rem ;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;

   
}





.job-1{
    height: 12rem;
    width: 18rem;
    background-color:var(--primary-color);
    
    border-radius: 5px;
}

.part-time-job{
    height: 12rem;
    width: 18rem;
    background-color:var(--primary-color);
    
    border-radius: 5px;
}

 .img-box{
    height:25%;
    width: 18%;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 1rem;
    margin-top: -1rem;
}


.img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
}


 .time-type{
    margin-top: 10px;
    margin-left: 1rem;
    height: 10%;
    width: 70%;
  
    display: flex;
}


 .role {
    margin-top: 10px;
    margin-left: 1rem;
    height: 15%;
    width: 80%;
    color: var(--secondary-color);
    font-weight: bold;
}




.company{

   
    margin-left: 1rem;
    height: 10%;
    width: 70%;
   

    font-size: 10px;
    color: darkgray;
}




.loc{

    margin-top: 20px;
    margin-left: 1rem;
    height: 10%;
    width: 70%;
    font-weight: bold;

    font-size: 10px;

    color:#4b59f1;
}

.clock {
    height: 100%;
    width: 20%;
  
    color: black;
}

.type{

    width: 50%;
    color: #2a2a2b;
    font-size:15px;
}


.typpe{
    font-weight: bold;
    font-size: 10px;
}


#job-header{
    padding: 0;
    justify-content: space-evenly;
    float: left;
    width: 54%;
    height: 6rem;



}

.company-box{

    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    padding: 0 10px;
    background-color: yellow;
    color: white;

 
}
.domain-box{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:flex-start;
    padding-top: 35px;
}

.little {
    font-size: 10px;
}
.job-type{
    padding: 1rem;
    display: flex;
}

#des-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#role-des{
    width: 60%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    
}


#apply-btn{
    padding: 0.7rem 2rem;
    font-weight: bold;
    font-size: 10px;
    
   
}



#role-b{
    margin-top: 10px;
    margin-left: 1rem;
    height: 15%;
    width: 100%;
    color: var(--secondary-color);
    font-weight: bold;
    gap: -1rem;
    display: flex;
    flex-direction: row;

}


.side-a{
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.side-b{
    width:30%;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}




#page-2{
    display: none;
}


#site{
    padding: 0.7rem 1.5rem;
}





.company-des{
    padding: 1rem;
    font-size: 12px;
    color: var(--secondary-color);
}

.requirement-section{
    margin-top: 3rem;
    font-size: 12px;
}

.rec{
    margin-top: 1rem;
}

.rec-2{
    padding: 1rem 1rem;
}

li::marker {
	color: #4b59f1;
}

.rec-3{
    list-style-type: decimal;
    padding: 1rem 1rem;
    

}

ul > li::marker {
    font-weight: bold;
  }




  .job-footer{
    width: 100%;
    height: 5rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem  ;
  }



  .check-label{
    width: 100px;
    font-size: 5px;
    display: flex;
      }


/* media queires here */





@media (max-width: 920px){

    .search-bar{width: 70%;}
}




@media (max-width: 820px){

    .main-page{
        align-items: center;
        justify-content: center;

    }
   
    .search-bar{
        width: 82%;
        gap: 2rem;

    }
 .job-page{
        margin-top: 2rem;
        padding: 0;
    }




#job-header{
    width: 60%;
}

#role-des{

    width: 60%;
}

.search-box{
    margin-left: -3rem;
}

/* .search-button{
   
    text-align: center;
    padding: 0.5rem 2rem;
   
    border-radius: 3px;
    font-size: 10px;
    font-weight: bold;
    
} */

}









@media (max-width:420px){
   



    
    .job-1{
        margin-top: 3rem;
    }
   
   
    .header{
        border-radius: 0;
    }

    #job-header{
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;  
        height: 10rem;
       
        align-items: center;
    }



    #filter{
        display:contents;
    }


    #mobile-company{
        
        margin-top: -40px;
        width: 15%;
        height: 25%;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        
        background-image: url(/img/snap.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .company-box h1{
        display: none;
    }
    .domain-box{
        width: 30%;
        margin: 0;
        padding: 0;
    }
  

    #job-type{
        width: 20%;
        display: none;
    }


    .search-bar{
        justify-content: center;
        width: 70%;
       
    }
    .search-bar .location-box{
        display: none;
    }

    .check-label{
        display: none;
    }


    #search-input{
        font-size: 7px;
    }

    .search-box{
        width: 40%;
        margin-left: -5rem;
    }



    .bg-modal{
        width: 100%;
        height: 100%;
       
        background-color: rgba(0, 0, 0, 0.7);
      
       
        position: absolute;
        top:0;
        
        display: none;
        
     
    }
    
    
    .modal-content{
        
        height: 140px;
        width: 240px;
        background-color: var(--primary-color);
        opacity: 1;
        top: 0;

    margin-left: 4.5rem;
    margin-top: 10rem;
       
    display: flex;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


    
    }

    .location-box-mobile{
        padding:1rem;
        gap: 15px;
    }

    .fa-search{
        display: none;
    }

    #search-input-mobile{
       
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0%;
        display: flex;

        align-items: center;
        justify-content: center ;
    }

    .location-box-mobile .fa-map-marker{
        display: contents;
        height: 40%;
        align-items: center;
    }
    
    .fa-location-pin:before, .fa-map-marker:before {
        content: "\f041";
        height: 40%;
       
 
    }
    .location-box-mobile{
        display: flex;
    align-items: center;
    justify-content: center;
       
    width: 90%
    
    
    }

    .location-box-mobile placeholder{
        font-weight: bold;
        font-size: 20px; 
    }


    .job-type-mobile{
  
        height: 20%;
        color:var(--secondary-color);
        width: 100% ;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        gap: 50px;


      
    }

    #search-button-mobile{
        width: 90%;
        text-align: center;
        align-items: center;
        padding: 10px 30px;
        justify-content: center;
        font-weight: bold;
        margin-right: 10px;
    }

    .close{
        
        position: absolute;
        right: 14px;
        font-size: 24px;
        transform: rotate(45deg);

        cursor: pointer;
    }


    .side-a{
        width: 100%;
    }

    .side-b{
        width: 100%;
    
    }

    #apply-btn{
        width: 130%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: -2.3rem;
    }

    .job-footer{
      
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .comp-des{
        display: none;
    }

    .footer-button{
        width: 60%;
        margin: 0;
    }

    #role-des{
        width: 80%;
    }
}